# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
pokemon_env/
.env

# AWS
.aws/
*.pem

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Temporary files
temp/
tmp/